h4{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(22, 21, 21, 0.808);
    font-size: small;
}
.escolhas{
    text-align: center;
    padding: 50vh;
}
h1{
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(22, 21, 21, 0.808);
    font-size: medium;
    padding: 1vh;
}
